/* @import '~antd/dist/antd.css'; */

.flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
/* 
.btn-outline-dark:hover{
    color: rgb(255, 255, 255);
    background-color: #f06718;
    border-color: #f8f8f8; 
} */
.province-btn{
    border-color: #d6d6d6; 
}
body {
    font-family: 'Kanit', sans-serif;
}

.image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
  }
.step-createtrip{
    margin: 20px 60px 30px 60px;
}
/* .ant-steps-item-process .ant-steps-item-icon { background: #F37945; border-color:#F37945;} */